*{
    box-sizing: border-box;
}

/*Prevent Padding from messing up
    sizes of your elements.
*/

#RedContainer{
    position: relative;
    display: inline-block;
}

#SmallerRedContainer {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#timer {
    background-color: red;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playerHealthbar {
    position: absolute;
    background-color: blue;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#enemyHealthbar {
    position: absolute;
    background-color: blue;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#resultText{
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.enemyHealth {
    background-color: yellow;
    height: 30px;
}

.playerHealth {
    background-color: yellow;
    height: 30px;
    width: 100%;
}

.healthParent {
    position: relative;
    height: 30px;
    width: 100%;
}

.playerHealthParent {
    position: relative;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}